---
title: "Simulation_Project"
author: "Beixi Lei"
date: "2/25/2018"
output: html_document
---

```{r setup, include=FALSE}
############################ COMMENTS ############################

# Pre SETUP section setup your working directory and import libraries
# GET DATA section downloads stock data specified in stkpool from Yahoo!Finance
# Function GetStocks gives out the selected stocks and their weights at rebalance date
# Function GetReturn gives the total return of a portfolio during a specified period time
# BACKTESTING section performs back-tests for the possible T1 and T2
# TEST RETURN section gives the total return of a portfolio in test set under specified parameters
# VaR & ES calculates VaR and Expected Shortfall
# SIMULATION simulates future 1-year stock price based on MLE estimation on drift and volatility and GBM
# BACKTESTING SIMULATION section reestimates the strategy using simulated daily return 
# You should manually change some parameters to get results in the report

############################ PRE SETUP ############################

# Setup current working directory which includes FF data
setwd("~/Desktop/Simulation/Project/")
library(quantmod)
library(MASS)
library(PerformanceAnalytics)

```

```{r}
############################ GET DATA ############################

# Create stock pool according to financial indices according to Yahoo Finance P/E ratio
# Our main interest is to filter out stocks with best performance with certain financial ratios picked. Looking into the 14 most commonly used ratios (Carols, Magdy and Susan, 5), combining the strategy as Paiboon (11) used to get the most profitable portfolio, we finally focus on P/E, P/B and ROE ratios
#Learning a low P/E+ low P/B+ high ROE ratios resulting in most profitable stock choices (Paiboon, 15), with anticipating a size-100 stock pool, we first get a pool from Yahoo.Finance of 120 stocks from setting our ROE ratio above 20%; P/B ratios in between 0 and 2; P/E from 0 to 50, volume no smaller than 1000. Then getting rid of those whose start date later than 2009/1/1, have zero return more than 5%, or not enough data available, we got a pool of 68 stocks for further regressions
# Exclude stks listed after 2006-01-03
stkpool = c("CL","MGA","ABX","NLY","MAS","DISCA","DISCK","VIAB","VIA"
            ,"GT","AGNC","SHI","FL","SID","CIM","BBBY","ARLP","IAG","AXL"
            ,"ERF","ODP","EVT","HYT","VHI","RVT","GTN","ARR","HK"
            ,"BKE","VVR","AOBC","TDF","BTO","CET","NCV","SVU","IIF","SNBC"
            ,"NCZ","RILY","HQL","GPM","IESC","JOF","TICC","NRP","BBGI"
            ,"EMF","GF","PHT","BTX","DHY","KF","FT","ALO","LGI","ASG"
            ,"GCH","NTIP","HPJ","URG","JNP","EMMS","CUBA"
            ,"SCKT","CTEK","PRPH","FSI")

#Using na.omit() to remove missing values

# Specify Date range of stkdata
StartDate = as.Date("2009-01-01")
EndDate = as.Date("2017-12-29")

# Get data from Yahoo!Finance
for(stk in stkpool){
  
  getSymbols(stk, from = StartDate, to = EndDate)
  expr <- paste(stk, " = data.frame(date = index(dailyReturn(", stk,")), dailyReturn(", stk, "))", sep="")
  na.omit(stk)
  eval(parse(text = expr))
  # CL = data.frame(date = index(dailyReturn(CL)), dailyReturn(CL))
}

# Get FF
FF <- read.csv("F-F_Research_Data_Factors_daily.CSV", header = TRUE)
FF$date <- as.Date(as.character(FF$date), "%Y%m%d")
FF$Mkt.RF <- FF$Mkt.RF / 100
FF$SMB <- FF$SMB / 100
FF$HML <- FF$HML / 100
FF$RF <- FF$RF / 100

# merge data
for(stk in stkpool){
  expr1 <- paste(stk," = merge(", stk, ", FF, by='date')", sep = "")
  expr2 <- paste(stk,"$ExReturn <- ",stk,"$daily.returns - ",stk,"$RF", sep="")
  expr3 <- paste("names(",stk,")[2:3] <- c('Return','ExMkt')",sep="")
  eval(parse(text = paste(expr1,expr2,expr3,sep=";")))
  # CL = merge(CL, FF, by="date")
  # CL$daily.returns <- CL$daily.returns - CL$RF
  # names(CL)[2:3] <- c('ExReturn','ExMkt')
}

# Exclude stks with high variance
LowVarStkpool = vector()
for(stk in stkpool){
  expr = paste("stkvar = var(",stk,"$Return)",sep="")
  eval(parse(text=expr))
  if(stkvar < 0.001){
    LowVarStkpool <- c(LowVarStkpool,stk)
  }
}
stkpool = LowVarStkpool
```

```{r}
############################ FUNCTION GetStocks ############################

GetStocks <- function(FormS, FormE){
  #FormS and FormE and in date format, can manually change the date range to get portfolio at each rebalance date
  #browser()
  stkselect = data.frame()

  # Regress for alpha
  for(stk in stkpool){
    expr = paste("reg",stk," <- rlm(ExReturn ~ 1+ ExMkt + SMB + HML, data = ",stk,", subset=(date >= FormS & date <= FormE))", sep="")
    eval(parse(text = expr))
    # regCL <- lm(ExReturn ~ 1 + ExMkt + SMB + HML, data = CL, subset=(date >= FormS & date <= FormE))
    # )
  }
  
  # Sorting -significant positive alpha, level = 0.1
  for(stk in stkpool){
    expr <- paste("alpha = summary(reg",stk,")$coefficients[1,1]",sep="")
    expr2 <- paste("tvalue = summary(reg",stk,")$coefficients[1,3]",sep="")
    eval(parse(text = paste(expr, expr2, sep=";")))
    if(alpha > 0){  
      stkselect <- rbind(stkselect,data.frame(stk,alpha,tvalue))
    }
    # alpha = summary(regCL)$coefficients[1,1]
    # tvalue = summary(regCL)$coefficients[1,3]
  }
  
  ## Select a method of weight construction
  
  stkselect[order(stkselect$tvalue,decreasing = TRUE),]
  stkselect <- stkselect[1:10,]
  stkselect <- stkselect[complete.cases(stkselect), ]
  
   #alpha-weighted
   #stkselect$weights <- stkselect$alpha / sum(stkselect$alpha)
  
   # equal-weighted
   #stkselect$weights <- 1 / nrow(stkselect)
  
  # alpha-weighted with tvalue adjusted
  stkselect$weights <- stkselect$alpha * stkselect$tvalue / sum(stkselect$alpha * stkselect$tvalue)
  
  return(stkselect)
}
```

```{r}
############################ FUNCTION GetReturn ############################
GetReturn <- function(HoldS, HoldE, StkSelect){
  #HoldS and HoldE are in date format, manuallly change the date parameter to get different return
  # browser()
  i = 1 
  rp = 0 
  periodRet = 0
  w <- StkSelect$weights
  for(stk in as.vector(StkSelect$stk)){
    expr <- paste("rp <- rp + w[i] * ",stk,"$Return[",stk,"$date >= HoldS & ",stk,"$date <= HoldE]",sep="")
    eval(parse(text = expr))
    i = i + 1
    #rp <- rp + w[i] * stk$Return[stk$date >= HoldS & stk$date <= HoldE]
  }
  periodRet = prod(rp + 1) - 1
  return(periodRet)
}
```

```{r}
############################ BACKTESTING ############################

# Parameter FormT and HoldT

FormTSeq = seq(from = 30 , to = 120 ,by = 30)
HoldTSeq = seq(from = 30, to = 120, by = 30)
TotRetM = matrix(nrow = length(FormTSeq),ncol = length(HoldTSeq))

i = 1
for(FormT in FormTSeq ){
  j = 1
  for(HoldT in HoldTSeq ){
    
    n = 0
    while(EndDate - (n*HoldT + FormT) > StartDate){n = n + 1}
    
    ReBalanceDate = EndDate - HoldT * 1:(n-1)
    # browser()
    TotRet <- 0
    for(Date in ReBalanceDate){
      #browser()
      stkselect <- GetStocks(Date-FormT, Date)
      PeriodRet <- GetReturn(Date,Date+HoldT,stkselect)
      TotRet <- (1 + TotRet) * (1 + PeriodRet) - 1
    }
    TotRetM[i,j] = TotRet
    #print(((i-1)*length(HoldTSeq) + j)/(length(HoldTSeq)*length(FormTSeq)))
    print(TotRetM)
    j = j + 1
  }
  i = i + 1
}

```

```{r}
############################ TEST RETURN ############################

# Get New Data
Today = as.Date("2017-12-29")
EndDate = Today

# Get data from Yahoo!Finance
for(stk in stkpool){
  
  getSymbols(stk, from = StartDate, to = EndDate)
  expr <- paste(stk, " = data.frame(date = index(dailyReturn(", stk,")), dailyReturn(", stk, "))", sep="")
  eval(parse(text = expr))
  # CL = data.frame(date = index(dailyReturn(CL)), dailyReturn(CL))
}

# merge data
for(stk in stkpool){
  expr1 <- paste(stk," = merge(", stk, ", FF, by='date')", sep = "")
  expr2 <- paste(stk,"$ExReturn <- ",stk,"$daily.returns - ",stk,"$RF", sep="")
  expr3 <- paste("names(",stk,")[2:3] <- c('Return','ExMkt')",sep="")
  eval(parse(text = paste(expr1,expr2,expr3,sep=";")))
  # CL = merge(CL, FF, by="date")
  # CL$daily.returns <- CL$daily.returns - CL$RF
  # names(CL)[2:3] <- c('ExReturn','ExMkt')
}

# Exclude stks with high variance
LowVarStkpool = vector()
for(stk in stkpool){
  expr = paste("stkvar = var(",stk,"$Return)",sep="")
  eval(parse(text=expr))
  if(stkvar < 0.001){
    LowVarStkpool <- c(LowVarStkpool,stk)
  }
}
stkpool = LowVarStkpool

# Get T1* and T2* from TotRetM
T1 = 60
T2 = 90
TotRet = 0

n = 0
while(as.Date("2017-01-01") + n * T2 <= Today){n = n + 1}
ReBalanceDateTest = T2 * 0:(n-1) + as.Date("2017-01-01")

for(Date in ReBalanceDateTest){
  # browser()
  stkselect <- GetStocks(Date-T1, Date)
  PeriodRet <- GetReturn(Date,Date+T2,stkselect)
  TotRet <- (1 + TotRet) * (1 + PeriodRet) - 1
}

print(TotRet)
```

```{r}
############################ VAR & ES ############################


# Stkpool data should be in 2009-01-01 and 2017-12-29
rp = 0
w = 1 / length(stkpool)
for(stk in stkpool){
  # browser()
  expr <- paste("rp <- rp + ",stk,"$ExReturn * w",sep="")
  eval(parse(text = expr))
}

#default 0.95
VaR(rp)
VaR(rp, 0.99)
ETL(rp)
ETL(rp, 0.99)

#Sharpe ratio
SP=(prod(1+rp)-1)/(8*12*sd(rp))
SP
```


```{r}
############################ SIMULATION ############################

stkpool = c("CL","MGA","ABX","NLY","MAS","DISCA","DISCK","VIAB","VIA"
            ,"GT","AGNC","SHI","FL","SID","CIM","BBBY","ARLP","IAG","AXL"
            ,"ERF","ODP","EVT","HYT","VHI","RVT","GTN","ARR","HK"
            ,"BKE","VVR","AOBC","TDF","BTO","CET","NCV","SVU","IIF","SNBC"
            ,"NCZ","RILY","HQL","GPM","IESC","JOF","TICC","NRP","BBGI"
            ,"EMF","GF","PHT","BTX","DHY","KF","FT","ALO","LGI","ASG"
            ,"GCH","NTIP","HPJ","URG","JNP","EMMS","CUBA"
            ,"SCKT","CTEK","PRPH","FSI")

#First calculate historical volatility
# Specify Date range of stkdata
StartDate = as.Date("2016-12-29")
EndDate = as.Date("2017-12-29")

#Get stockpool daily return from Yahoo!Finance
for(stk in stkpool){
  getSymbols(stk, from = StartDate, to = EndDate)
  expr <- paste(stk, " = data.frame(dailyReturn(", stk, "))", sep="")
  na.omit(stk)
  eval(parse(text = expr))
  # CL = data.frame(date = index(dailyReturn(CL)), dailyReturn(CL))
}
table1 <- cbind(CL,MGA,ABX,NLY,MAS,DISCA,DISCK,VIAB,VIA,GT,AGNC,SHI,FL,SID,CIM,BBBY,ARLP,IAG,AXL,ERF,ODP,EVT,HYT,VHI,RVT,GTN,ARR,HK,BKE,VVR,AOBC,TDF,BTO,CET,NCV,SVU,IIF,SNBC,NCZ,RILY,HQL,GPM,IESC,JOF,TICC,NRP,BBGI,EMF,GF,PHT,BTX,DHY,KF,FT,ALO,LGI,ASG,GCH,NTIP,HPJ,URG,JNP,EMMS,CUBA,SCKT,CTEK,PRPH,FSI)

#Calculate annualized volatility
volatility <- matrix(rep(0),nrow=length(stkpool),ncol=1)
for (i in 1:length(table1)){
  volatility[i,1] <- sd(table1[i]$daily.returns)*sqrt(252)
}

#Use MLE and historical sigma to estimate mu
#MATLAB code attached here, drift.csv is the output of drift simulation from MATLAB computation 
driftlist <- read.csv("~/Desktop/Simulation/Project/drift.csv",header=FALSE,sep="")
drift <- data.matrix(driftlist)

#Use stock price from last trading day as S0
# Specify date range of one last adjusted close price
StartDate = as.Date("2017-12-28")
EndDate = as.Date("2017-12-29")
table2 <- matrix(rep(0),nrow=length(stkpool),ncol = 3)

# Get adjusted close price from Yahoo!Finance
for (i in 1:length(stkpool)) {
  getSymbols(stkpool[i], from=StartDate, to=EndDate,auto.assign=TRUE)
  plot(Cl(get(stkpool[i])), main=stkpool[i], type="p", pch=20)
}

#table2 : column1,2,3 is S0, volatility, drift, respetively 
i <- 1
closeprice <- matrix(rep(0),nrow=length(stkpool),ncol=1)
for (i in 1:length(stkpool)) {
   closeprice[i] <- assign (stkpool[i], adjustOHLC(get(stkpool[i]), 
                                 adjust=c("split", "dividend"), 
                                 use.Adjusted=FALSE,
                                 symbol.name=stkpool[i]))
  table2[i,1] <- as.numeric(closeprice[i])
  table2[i,2] <- as.numeric(volatility[i])
  table2[i,3] <- as.numeric(drift[i])
  i <- i + 1
}

# plot adjusted series
for (i in 1:length(stkpool)) {
  plot(Cl(get(stkpool[i])), main=paste0(stkpool[i],".adjusted"), type="p", pch=20)
}

#Use volatility and drift obtained from previous part to forecast possible realizations assuming that they will not change within 1 year
```

```{r}
#Generate random number
source("~/Desktop/Simulation/Myfunctions.r")
seed<-0
numrand<-1000000
rand_norm_c<-MYNORM(seed,numrand)
```
```{r}
#Simulate 1-year future stock price and store all simulated stock price in stkpool in BigTable, assume stock price follows GBM
BigTable <- list()
for (i in 1:length(stkpool)){
  S0 <- as.numeric(table2[i,1])
  Drift <- as.numeric(table2[i,3])
  Strike<-S0
  Volatility<- as.numeric(table2[i,2])
  TMaturity<- 1
  DeltaT <- 1/252
  numpath<- 1000
  St1_Vals<-matrix(rep(0),nrow=252, ncol=numpath)
  St1_Vals_Avg <- matrix(rep(0),nrow=252,ncol=1)
  jcount<- 1  #number of path
  lcount<- 1  #number of random variables
  while(jcount <= numpath) {
    St1 <- S0   #St1 is the true stock price
    for (kcount in 1:252) {
      St1 <- St1*exp(Drift*DeltaT + Volatility*sqrt(DeltaT)*rand_norm_c[lcount])
      St1_Vals[kcount,jcount] <- St1
      
#Calculate average stock price by dividing stock price with numpath within 1 day 
      St1_Vals_Avg[kcount] <- mean(St1_Vals[kcount])
      lcount<-lcount+1
    }
    jcount<- jcount+1
  }
  #BigTable[kcount,i] <- St1_Vals_Avg[kcount]
  BigTable[[i]] <- St1_Vals_Avg
  names(BigTable)[[i]] <- stkpool[i]
}
#Convert list of list to data.frame
stockprice <- as.data.frame((as.data.frame(BigTable)))
for (i in 1:length(stkpool)){
  names(stockprice)[i] <- paste(stkpool[i],"stock.price")
}
```

```{r}
#Calculate daily return for each stock in stkpool
DailyReturn = list()
for (i in 1:length(stkpool)){
  DailyReturn[[i]] <- exp(diff(log(BigTable[[i]]))) - 1
  names(DailyReturn)[[i]] <- stkpool[i]
  #names(DailyReturn)[[i]][1] <- paste("daily.returns")
}
#convert list of list to data frame object
dailyreturndf <- as.data.frame((as.data.frame(DailyReturn)))
for (i in 1:length(stkpool)){
  names(dailyreturndf)[i] <- paste("daily.returns")
}
```


```{r}
########################## BACKTESTING SIMULATION ############################

#Regress each stock on F-F cross-sectional model
#Match StartDate and EndDate to 2017 annual data 
StartDate = as.Date("2017-01-03")
EndDate = as.Date("2017-12-29")
setwd("~/Desktop/Simulation/Project/")
#Use historical FF risk-free and other parameters to regress
FF <- read.csv("F-F_Research_Data_Factors_daily_2017.CSV", header = TRUE)
FF$date <- as.Date(as.character(FF$date), "%Y%m%d")
FF$Mkt.RF <- FF$Mkt.RF / 100
FF$SMB <- FF$SMB / 100
FF$HML <- FF$HML / 100
FF$RF <- FF$RF / 100

#Merge data
regressiondata = list()
for (i in 1:length(stkpool)){
  regressiondata[[i]]<- cbind(FF,dailyreturndf[i])
  ExReturn <- dailyreturndf[i]- FF$RF
  ExMkt <- dailyreturndf[i] - FF$Mkt.RF
  regressiondata[[i]] <- cbind(regressiondata[[i]],ExMkt,ExReturn)
  names(regressiondata)[[i]] <- stkpool[i]
  names(regressiondata[[i]])[7] <- paste("ExMkt")
  names(regressiondata[[i]])[8] <- paste("ExReturn")
}

#Conver list of list to global envrionment variables
list2env(regressiondata,envir=.GlobalEnv)

#Select stock with variance less than 0.001
LowVarStkpool = vector()
for(stk in stkpool){
  expr = paste("stkvar = var(",stk,"$daily.returns)",sep="")
  eval(parse(text=expr))
  if(stkvar < 0.001){
    LowVarStkpool <- c(LowVarStkpool,stk)
  }
}
stkpool = LowVarStkpool
#Now stkpool still contains 57 stocks
```

```{r}
#Same function as before
GetReturn2 <- function(HoldS, HoldE, StkSelect){
  # browser()
  i = 1 
  rp = 0 
  periodRet = 0
  w <- StkSelect$weights
  for(stk in as.vector(StkSelect$stk)){
    expr <- paste("rp <- rp + w[i] * ",stk,"$daily.returns[",stk,"$date >= HoldS & ",stk,"$date <= HoldE]",sep="")
    eval(parse(text = expr))
    i = i + 1
    #rp <- rp + w[i] * stk$Return[stk$date >= HoldS & stk$date <= HoldE]
  }
  periodRet = prod(rp + 1) - 1
  return(periodRet)
}
```

```{r}
# Get T1* and T2* from TotRetM
T1 = 120
T2 = 60
TotRet = 0

n = 0
while(as.Date("2017-03-03") + n * T2 <= Today){n = n + 1}
ReBalanceDateTest = T2 * 0:(n-1) + as.Date("2017-03-03")

for(Date in ReBalanceDateTest){
  # browser()
  stkselect <- GetStocks(Date-T1, Date)
  PeriodRet <- GetReturn2(Date,Date+T2,stkselect)
  TotRet <- (1 + TotRet) * (1 + PeriodRet) - 1
}

print(TotRet)
```

```{r}
##Calculate VaR and CVaR (same code as before), as well as Sharpe ratio
rp = 0
w = 1 / length(stkpool)
for(stk in stkpool){
  # browser()
  expr <- paste("rp <- rp + ",stk,"$ExReturn * w",sep="")
  eval(parse(text = expr))
}

#default 0.95
VaR(rp)
VaR(rp, 0.99)
ETL(rp)
ETL(rp, 0.99)

#Sharpe Ratio
SP=(prod(1+rp)-1)/(8*12*sd(rp))
SP
```
